@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font: normal 16px Montserrat;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.login {
    border-radius: 20px;
    background-color: rgb(102, 133, 189);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 500px;
}
 h1 {
    font-size: 30px;
}

#dados {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 400px;
    margin-top: 50px;
}

#nome,#email,#senha {
    padding-left: 10px;
    border-radius: 20px;
    border: none;
    background-color: white;
    font: normal 16px Montserrat;
    width: 100%;
    height: 35px;
}

.mostrar{
    display: flex;
    align-items: center;
    gap: 8px;
    color: white;
    font: normal 16px Montserrat;
}

#entrar {
    border-radius: 20px;
    background-color: #dfdfdf;
    border: none;
    width: 100px;
    height: 40px;
    font: normal 20px Montserrat;
    margin: 10px 10px 5px 10px;
    cursor: pointer;
}
.login-botao {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font: normal 14px Montserrat;
    display: inline-block;
    cursor: pointer;
}
